{% extends 'flatpages/default.html' %}

{% block title %}
<h1 style="text-align: center;"><strong>ДОСКА ОБЪЯВЛЕНИЙ</strong></h1>
<hr/>
{% endblock title %}

{% block content %}
    <p align="center"><b><big>{{ advertisement.title }}</big></b>
    {{ advertisement.date }}</p>
    <hr>
<p align="left">{{ advertisement.author }} {{ advertisement.category }}</p>
<p align="left">{{ advertisement.content }}</p>
{% if request.user.is_authenticated and request.user != advertisement.author %}
    <p align="left"> <a href="{% url 'add_response' pk=advertisement.id %}" class="btn btn-primary">Откликнуться</a></p>
{% else %}
    {{ empty }}
{% endif %}

<td>
    {% if request.user.is_authenticated and request.user == advertisement.author %}
        <a href="{% url 'adv_edit' pk=advertisement.id %}">Изменить</a>
        <a href="{% url 'adv_delete' pk=advertisement.id %}">Удалить</a>
    {% else %}
        {{ empty }}
    {% endif %}

</td>

{% endblock content %}